/* styles common to all pages */
.standard_table {
  border-collapse: collapse;

  td, th { border: solid black 1px; padding: 5px }
}

footer {
  margin-top: 50px;
  padding-top: 10px;
  border-top: solid black 1px;
}
